<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>NBA Blog 2020</title>
    <link
            href="https://fonts.googleapis.com/css2?family=Montserrat&family=Oswald:wght@600&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="./CSS/styles.css" type="text/css"/>
</head>
<body>
<div class="container">
    <h1>NBA Blog 2020</h1>
    <h2> <a href="/"> Home </a></h2>
    <h2> <a href="/all-authors"> Authors </a></h2>
    <h2> <a href="/all-blogposts"> Blog Posts </a></h2>
    <h2> <a href="/all-categories">Categories </a></h2>
    <h2> <a href="/all-tags">Tags</a></h2>
</div>
</body>
</html>
